
<div class="modal-header">
  <h4 class="modal-title">Update Category</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="updateForm" (ngSubmit)="updateCategorie()">
    <div class="form-group">
      <label for="name">Category Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" required>
    </div>
    <div class="form-group">
      <label for="description">Category Description</label>
      <textarea class="form-control" id="description" formControlName="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
